body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 239, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 0;
}
.form-card {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.form-item {
  margin: 10px;
}
