<div class="form-card">
  <form action="" class="form">
    <div class="form-item">
      <label for="title" class="form__label">Title</label>
      <input type="text" name="title" />
    </div>

    <div class="form-item">
      <label for="description" class="form__label">Description</label>
      <input type="text" name="description" />
    </div>

    <div class="form-item">
      <label for="location" class="form__label">Location</label>
      <input type="text" name="location" />
    </div>

    <div class="form-item">
      <label for="time" class="form_label">Time</label>
      <input type="datetime-local" name="location" />
    </div>

    <div class="form-item">
      <label for="organizer" class="form__label">Organizer</label>
      <input type="text" name="organizer" />
    </div>
  </form>
</div>
